parameters:
    level: 9
    phpVersion: 80200
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            message: '#^Method Cache\\IntegrationTests\\(?:Tests\\)?(?:CachePoolTest|HierarchicalCachePoolTest|SimpleCacheTest|TaggableCachePoolTest)::(?:advanceTime|setupService|tearDownService|test[A-Za-z0-9_]*)\(\) has no return type specified\.$#'
            identifier: missingType.return
    paths:
        - src
        - tests
